@media(min-width: 576px)
    .wrapper
        padding-top: 70px
        display: flex
        flex-direction: column
        gap: 60px
        &>.subheader
            font-size: 20px
            font-weight: 700
        &>.categories_container
            margin: 0 auto
            display: flex
            flex-direction: column
            gap: 60px
            margin-bottom: 10px

@media(min-width: 768px)
    .wrapper
        padding-top: 70px
        &>.subheader
            font-size: 25px
        &>.categories_container
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 60px 30px

@media(min-width: 992px)
    .wrapper
        padding-top: 60px
        &>.subheader
            font-size: 30px
        &>.categories_container
            grid-template-columns: repeat(3, 1fr)

@media(min-width: 1200px)
    .wrapper
        padding-top: 80px
        &>.subheader
            font-size: 40px

@media(min-width: 1440px)
    .wrapper
        padding-top: 90px
        &>.subheader
            font-size: 70px
        &>.categories_container
            grid-template-columns: repeat(4, 1fr)
