@media(min-width: 576px)
    .wrapper
        height: 300px
        display: flex
        flex-direction: column
        // justify-content: center
        &>h2
            font-size: 25px
            font-weight: 700

        &>p
            font-size: 20px
            font-weight: 600
        &>.style_mode
            font-size: 18px
            font-weight: 500
        &>.style_around_the_clock
            font-size: 24px
            font-weight: 600

@media(min-width: 768px)
    .wrapper

        &>h2
            font-size: 25px
        &>p
            font-size: 40px

@media(min-width: 992px)
    .wrapper

        &>h2
            font-size: 30px
        &>p
            font-size: 50px

@media(min-width: 1200px)
    .wrapper
        &>h2
            font-size: 40px
            margin-bottom: 25px
        &>.style_address
            margin-bottom: 20px
        &>.style_mode
            font-size: 18px
        &>.style_around_the_clock
            font-size: 24px
